openapi: 3.0.3
info:
  title: Dialoga API
  description: 'API REST do backend da plataforma Dialoga (monitoramento terapêutico), cobrindo os perfis
    Paciente, Profissional e Administrador.


    Gerado a partir do modelo lógico `BD-lógico-Dialoga_2026.mwb` e validado contra os 16 documentos de
    Requisitos Funcionais (RF_2026_001 a RF_2026_016). Cada operação referencia os IDs de RF que originaram
    a rota, para rastreabilidade acadêmica.'
    
  version: 1.0.0
  contact:
    name: Dialoga — Projeto Profissional de Software, SENAI Jandira
servers:
- url: https://api.dialoga.com.br/v1
  description: Produção (placeholder — ajustar quando o backend for publicado)
tags:
- name: Autenticação
  description: Login, login social e recuperação de senha (RF085-097).
- name: Administradores
  description: 'Tabela `administrador`: cadastro, listagem e perfil do administrador, incluindo troca de senha (RF01-20, RF135-167).'
- name: Administrador × Profissional
  description: 'Tabela `administrador_profissional`: fila de aprovação de novos profissionais pelo Admin (RF41-64).'
- name: Pacientes
  description: 'Tabela `paciente`: cadastro, perfil e dashboard do paciente, incluindo a visão do profissional sobre o paciente (RF098-119, RF135-167, RF066-070, RF189-238, RF299-316).'
- name: Profissionais
  description: 'Tabela `profissional`: cadastro, perfil e dashboard do profissional (RF098-119, RF135-167, RF066-070, RF317-331).'
- name: Vínculos
  description: 'Tabela `vinculo`: solicitação, aceite, recusa e listagem do vínculo paciente-profissional, por ambos os lados (RF172-188, RF299-316, RF317-331).'
- name: Consultas
  description: 'Tabela `consulta`: agendamento de consultas (RF021-040).'
- name: Disponibilidades
  description: 'Tabela `disponibilidade`: horários de disponibilidade cadastrados pelo profissional (RF021-040).'
- name: Registros de Humor
  description: 'Tabela `registro_humor`: formulário diário ''Como você está hoje?'' (RF071-084).'
- name: Anotações
  description: 'Tabela `anotacao`: notas privadas do profissional sobre um paciente (RF221-222, RF310-311).'
- name: Solicitações de Acesso
  description: 'Tabela `solicitacao_acesso`: profissional solicita e paciente autoriza acesso a indicadores por categoria (RF202-207, RF223-227, RF312-313).'
- name: Notificações
  description: 'Tabela `notificacao`: listagem e marcação de leitura de notificações (RF120-134).'
- name: Preferências de Notificação
  description: 'Tabela `preferencia_notificacao`: preferências de notificação por categoria, incluindo ''Desligar todas'' (RF120-134).'
- name: Tarefas
  description: 'Tabela `tarefa`: criação, edição e envio de tarefas/questionários (RF257-298).'
- name: Perguntas
  description: 'Tabela `pergunta`: perguntas que compõem uma tarefa (RF257-298).'
- name: Destinatários de Tarefas
  description: 'Tabela `tarefa_destinatario`: acompanhamento de tarefas por destinatário, visão do profissional (RF257-298).'
- name: Respostas
  description: 'Tabela `resposta`: respostas enviadas pelos pacientes às tarefas (RF257-298).'
- name: Tratamentos
  description: 'Tabela `tratamento`: medicamentos em tratamento (RF332-361).'
- name: Horários de Tratamento
  description: 'Tabela `horario_tratamento`: horários configurados para um tratamento (RF332-361).'
- name: Registros de Dose
  description: 'Tabela `registro_dose`: confirmação de doses tomadas/perdidas (RF332-361).'
- name: Especialidades
  description: 'Tabela `especialidade`: domínio de apoio usado pelo cadastro de Profissional.'
- name: Categorias
  description: 'Tabela `categoria`: domínio de apoio usado por Notificação e Solicitações de Acesso.'
paths:
  /auth/login:
    post:
      summary: Login por e-mail e senha
      description: 'Requisitos relacionados: RF85'
      tags:
      - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Autenticado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/LoginResponse'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /auth/login/google/{id_google}:
    post:
      summary: Login via Google OAuth
      description: 'Requisitos relacionados: RF86 — TODO: requer coluna de senha opcional no modelo (ver
        observações)'
      tags:
      - Autenticação
      parameters:
      - name: id_google
        in: path
        required: true
        description: ID token retornado pelo OAuth do Google (RF86).
        schema:
          type: string
      responses:
        '200':
          description: Autenticado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/LoginResponse'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /auth/recuperar-senha/solicitar:
    post:
      summary: Solicitar código de recuperação de senha
      description: 'Requisitos relacionados: RF87, RF88, RF92, RF93'
      tags:
      - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecuperarSenhaSolicitarRequest'
      responses:
        '200':
          description: Código enviado por e-mail
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Código enviado por e-mail
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /auth/recuperar-senha/validar-codigo:
    post:
      summary: Validar código de recuperação recebido por e-mail
      description: 'Requisitos relacionados: RF89, RF94, RF95'
      tags:
      - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecuperarSenhaValidarCodigoRequest'
      responses:
        '200':
          description: Código válido
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Código válido
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /auth/recuperar-senha/redefinir:
    post:
      summary: Redefinir senha após validação do código
      description: 'Requisitos relacionados: RF90, RF96, RF97'
      tags:
      - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecuperarSenhaRedefinirRequest'
      responses:
        '200':
          description: Senha redefinida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Senha redefinida
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /pacientes:
    post:
      summary: Cadastrar novo paciente
      description: 'Requisitos relacionados: RF98-106'
      tags:
      - Pacientes
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PacienteCadastroRequest'
      responses:
        '201':
          description: Paciente criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Paciente'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /profissionais:
    post:
      summary: Cadastrar novo profissional (aguarda aprovação do Admin)
      description: 'Requisitos relacionados: RF107-119'
      tags:
      - Profissionais
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProfissionalCadastroRequest'
      responses:
        '201':
          description: Profissional criado, com status_aprovacao=Pendente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Profissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /administradores:
    get:
      summary: Listar/buscar administradores
      description: 'Requisitos relacionados: RF01-03'
      tags:
      - Administradores
      parameters:
      - name: busca
        in: query
        required: false
        schema:
          type: string
        description: Busca por nome ou e-mail (RF02)
      responses:
        '200':
          description: Lista de administradores
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Administrador'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Criar novo administrador
      description: 'Requisitos relacionados: RF05-11'
      tags:
      - Administradores
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AdministradorCriarRequest'
      responses:
        '201':
          description: Administrador criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Administrador'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /administradores/{id}:
    delete:
      summary: Remover administrador
      description: 'Requisitos relacionados: RF12-17'
      tags:
      - Administradores
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Administrador removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /administradores/me:
    get:
      summary: Consultar próprio perfil de administrador
      description: 'Requisitos relacionados: RF135-141'
      tags:
      - Administradores
      responses:
        '200':
          description: Perfil do administrador
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Administrador'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar próprio perfil de administrador
      description: 'Requisitos relacionados: RF141, RF142-149'
      tags:
      - Administradores
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AdministradorAtualizarRequest'
      responses:
        '200':
          description: Perfil atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Administrador'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /aprovacoes-profissionais:
    get:
      summary: Listar solicitações de acesso de profissionais
      description: 'Requisitos relacionados: RF41-48'
      tags:
      - Administrador × Profissional
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Pendente
          - Aprovado
          - Recusado
          - Todos
        description: Filtro de status (RF46)
      - name: busca
        in: query
        required: false
        schema:
          type: string
        description: Busca por nome, e-mail ou especialidade (RF45)
      responses:
        '200':
          description: Lista de solicitações
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/AprovacaoProfissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /aprovacoes-profissionais/{id}:
    get:
      summary: Detalhar solicitação de acesso de um profissional
      description: 'Requisitos relacionados: RF49-50'
      tags:
      - Administrador × Profissional
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Detalhes da solicitação
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/AprovacaoProfissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /aprovacoes-profissionais/{id}/aprovar:
    put:
      summary: Aprovar profissional
      description: 'Requisitos relacionados: RF51-56'
      tags:
      - Administrador × Profissional
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Profissional aprovado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/AprovacaoProfissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /aprovacoes-profissionais/{id}/recusar:
    put:
      summary: Recusar profissional
      description: 'Requisitos relacionados: RF52, RF57-60'
      tags:
      - Administrador × Profissional
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Profissional recusado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/AprovacaoProfissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/me:
    get:
      summary: Consultar próprio perfil de paciente
      description: 'Requisitos relacionados: RF153'
      tags:
      - Pacientes
      responses:
        '200':
          description: Perfil do paciente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Paciente'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar próprio perfil de paciente
      description: 'Requisitos relacionados: RF154, RF157-159'
      tags:
      - Pacientes
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PacienteAtualizarRequest'
      responses:
        '200':
          description: Perfil atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Paciente'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/me/primeiro-acesso:
    post:
      summary: Responder formulário de primeiro acesso
      description: 'Requisitos relacionados: RF168-171, RF179'
      tags:
      - Pacientes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PacientePrimeiroAcessoRequest'
      responses:
        '200':
          description: Primeiro acesso concluído
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Paciente'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /profissionais/me:
    get:
      summary: Consultar próprio perfil de profissional
      description: 'Requisitos relacionados: RF160'
      tags:
      - Profissionais
      responses:
        '200':
          description: Perfil do profissional
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Profissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar próprio perfil de profissional
      description: 'Requisitos relacionados: RF161-167'
      tags:
      - Profissionais
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProfissionalAtualizarRequest'
      responses:
        '200':
          description: Perfil atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Profissional'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /profissionais/me/pacientes:
    get:
      summary: Listar pacientes vinculados ao profissional autenticado
      description: 'Requisitos relacionados: RF299-301, RF306'
      tags:
      - Vínculos
      parameters:
      - name: busca
        in: query
        required: false
        schema:
          type: string
        description: Busca por nome (RF300)
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Todos
          - Ativos
          - Inativos
        description: Filtro de status (RF301)
      responses:
        '200':
          description: Lista de pacientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/PacienteResumo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Adicionar paciente (busca na plataforma ou cadastro externo)
      description: 'Requisitos relacionados: RF302-305'
      tags:
      - Vínculos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/VinculoCriarRequest'
              - $ref: '#/components/schemas/PacienteExternoCriarRequest'
      responses:
        '201':
          description: Vínculo criado ou paciente externo cadastrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /profissionais/me/pacientes/{vinculoId}:
    delete:
      summary: Remover paciente da lista de acompanhamento
      description: 'Requisitos relacionados: RF315, RF326-330'
      tags:
      - Vínculos
      parameters:
      - name: vinculoId
        in: path
        required: true
        description: Identificador do vínculo
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Vínculo movido para histórico (status Inativo)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/{id}:
    get:
      summary: Ver perfil detalhado de um paciente (visão do profissional)
      description: 'Requisitos relacionados: RF214-220, RF307-309'
      tags:
      - Pacientes
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Perfil detalhado do paciente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Paciente'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/me/profissionais:
    get:
      summary: Listar profissionais vinculados ao paciente autenticado
      description: 'Requisitos relacionados: RF317-319'
      tags:
      - Vínculos
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Atual
          - Historico
        description: Seção da listagem (RF318)
      responses:
        '200':
          description: Lista de profissionais
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProfissionalResumo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Adicionar profissional (busca por CPF na plataforma ou cadastro externo)
      description: 'Requisitos relacionados: RF320-324'
      tags:
      - Vínculos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/VinculoCriarRequest'
              - $ref: '#/components/schemas/ProfissionalExternoCriarRequest'
      responses:
        '201':
          description: Vínculo criado ou profissional externo cadastrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/me/profissionais/{vinculoId}:
    delete:
      summary: Excluir vínculo com profissional (move para Histórico)
      description: 'Requisitos relacionados: RF326-330'
      tags:
      - Vínculos
      parameters:
      - name: vinculoId
        in: path
        required: true
        description: Identificador do vínculo
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Vínculo removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vinculos:
    get:
      summary: Listar vínculos do usuário autenticado
      description: 'Requisitos relacionados: RF172, RF299, RF317'
      tags:
      - Vínculos
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Lista de vínculos
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Solicitar vínculo entre paciente e profissional
      description: 'Requisitos relacionados: RF172-176, RF185, RF305'
      tags:
      - Vínculos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VinculoCriarRequest'
      responses:
        '201':
          description: Solicitação de vínculo criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vinculos/{id}:
    get:
      summary: Detalhar vínculo
      description: 'Requisitos relacionados: RF176-177, RF186'
      tags:
      - Vínculos
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Detalhes do vínculo
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Excluir vínculo
      description: 'Requisitos relacionados: RF178, RF188, RF326'
      tags:
      - Vínculos
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Vínculo excluído
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vinculos/{id}/aceitar:
    put:
      summary: Aceitar solicitação de vínculo
      description: 'Requisitos relacionados: RF175'
      tags:
      - Vínculos
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Vínculo aceito
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vinculos/{id}/recusar:
    put:
      summary: Recusar solicitação de vínculo
      description: 'Requisitos relacionados: RF185'
      tags:
      - Vínculos
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Vínculo recusado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Vinculo'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /consultas:
    get:
      summary: Listar consultas do usuário autenticado
      description: 'Requisitos relacionados: RF21, RF28, RF31-35'
      tags:
      - Consultas
      parameters:
      - name: periodo
        in: query
        required: false
        schema:
          type: string
          enum:
          - dia
          - semana
          - mes
        description: Filtro de período (RF33)
      - name: busca_paciente
        in: query
        required: false
        schema:
          type: string
        description: Busca por nome do paciente, uso do profissional (RF33)
      - name: data
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Lista de consultas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consulta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Cadastrar nova consulta
      description: 'Requisitos relacionados: RF22-27, RF34'
      tags:
      - Consultas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaCriarRequest'
      responses:
        '201':
          description: Consulta criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Consulta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /consultas/{id}:
    get:
      summary: Detalhar consulta
      description: 'Requisitos relacionados: RF28, RF35'
      tags:
      - Consultas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Detalhes da consulta
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Consulta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Cancelar/excluir consulta
      description: 'Requisitos relacionados: RF34'
      tags:
      - Consultas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Consulta removida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar consulta
      description: 'Requisitos relacionados: RF23-25'
      tags:
      - Consultas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaCriarRequest'
      responses:
        '200':
          description: Consulta atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Consulta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /profissionais/me/disponibilidades:
    get:
      summary: Listar disponibilidades cadastradas
      description: 'Requisitos relacionados: RF36-38, RF40'
      tags:
      - Disponibilidades
      responses:
        '200':
          description: Lista de disponibilidades
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Disponibilidade'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Informar nova disponibilidade
      description: 'Requisitos relacionados: RF39'
      tags:
      - Disponibilidades
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisponibilidadeCriarRequest'
      responses:
        '201':
          description: Disponibilidade criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Disponibilidade'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /disponibilidades/{id}:
    delete:
      summary: Excluir disponibilidade
      description: 'Requisitos relacionados: RF37, RF40'
      tags:
      - Disponibilidades
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Disponibilidade removida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar disponibilidade
      description: 'Requisitos relacionados: RF37, RF40'
      tags:
      - Disponibilidades
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisponibilidadeCriarRequest'
      responses:
        '200':
          description: Disponibilidade atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Disponibilidade'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/me/registros-humor:
    get:
      summary: Listar registros diários de humor do paciente autenticado
      description: 'Requisitos relacionados: RF82, RF84'
      tags:
      - Registros de Humor
      parameters:
      - name: inicio
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: fim
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Histórico de registros
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegistroHumor'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Salvar registro diário 'Como você está hoje?'
      description: 'Requisitos relacionados: RF71-81, RF83'
      tags:
      - Registros de Humor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistroHumorCriarRequest'
      responses:
        '201':
          description: Registro salvo
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/RegistroHumor'
                required:
                - status
                - status_code
                - response
        '409':
          description: Já existe registro para o dia atual (RF83)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/{id}/anotacoes:
    get:
      summary: Listar anotações privadas do profissional sobre o paciente
      description: 'Requisitos relacionados: RF221-222, RF310, RF234-235'
      tags:
      - Anotações
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Lista de anotações
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Anotacao'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Registrar nova anotação privada
      description: 'Requisitos relacionados: RF221, RF310'
      tags:
      - Anotações
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnotacaoCriarRequest'
      responses:
        '201':
          description: Anotação criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Anotacao'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /anotacoes/{id}:
    delete:
      summary: Excluir anotação
      description: 'Requisitos relacionados: RF311'
      tags:
      - Anotações
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Anotação removida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar anotação
      description: 'Requisitos relacionados: RF311'
      tags:
      - Anotações
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnotacaoCriarRequest'
      responses:
        '200':
          description: Anotação atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Anotacao'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pacientes/{id}/solicitacoes-acesso:
    post:
      summary: Profissional solicita acesso aos indicadores do paciente
      description: 'Requisitos relacionados: RF223-225, RF312'
      tags:
      - Solicitações de Acesso
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolicitacaoAcessoCriarRequest'
      responses:
        '201':
          description: Solicitação enviada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/SolicitacaoAcesso'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /solicitacoes-acesso:
    get:
      summary: Listar solicitações de acesso (enviadas ou recebidas conforme o perfil)
      description: 'Requisitos relacionados: RF202-203, RF313'
      tags:
      - Solicitações de Acesso
      responses:
        '200':
          description: Lista de solicitações
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/SolicitacaoAcesso'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /solicitacoes-acesso/{id}:
    get:
      summary: Detalhar solicitação de acesso
      description: 'Requisitos relacionados: RF204'
      tags:
      - Solicitações de Acesso
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Detalhes da solicitação
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/SolicitacaoAcesso'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /solicitacoes-acesso/{id}/aprovar:
    put:
      summary: Paciente aprova solicitação, selecionando categorias de dados
      description: 'Requisitos relacionados: RF205-206'
      tags:
      - Solicitações de Acesso
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolicitacaoAcessoAprovarRequest'
      responses:
        '200':
          description: Solicitação aprovada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/SolicitacaoAcesso'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /solicitacoes-acesso/{id}/recusar:
    put:
      summary: Paciente recusa solicitação de acesso
      description: 'Requisitos relacionados: RF207'
      tags:
      - Solicitações de Acesso
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Solicitação recusada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/SolicitacaoAcesso'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /notificacoes:
    get:
      summary: Listar notificações do usuário autenticado
      description: 'Requisitos relacionados: RF120-121, RF128-129'
      tags:
      - Notificações
      parameters:
      - name: aba
        in: query
        required: false
        schema:
          type: string
          enum:
          - nao_lidas
          - historico
      responses:
        '200':
          description: Lista de notificações
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notificacao'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /notificacoes/{id}/marcar-lida:
    put:
      summary: Marcar notificação individual como lida
      description: 'Requisitos relacionados: RF124, RF131'
      tags:
      - Notificações
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Notificação marcada como lida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /notificacoes/marcar-todas-lidas:
    put:
      summary: Marcar todas as notificações como lidas
      description: 'Requisitos relacionados: RF124, RF131'
      tags:
      - Notificações
      responses:
        '200':
          description: Todas as notificações marcadas como lidas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /preferencias-notificacao:
    get:
      summary: Listar preferências de notificação por categoria
      description: 'Requisitos relacionados: RF125, RF132'
      tags:
      - Preferências de Notificação
      responses:
        '200':
          description: Lista de preferências
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/PreferenciaNotificacao'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Salvar preferências de notificação (inclui 'Desligar todas')
      description: 'Requisitos relacionados: RF125-127, RF132-134'
      tags:
      - Preferências de Notificação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenciasNotificacaoAtualizarRequest'
      responses:
        '200':
          description: Preferências salvas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/PreferenciaNotificacao'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tarefas:
    get:
      summary: Listar tarefas (abas Todas/Pendentes/Em andamento/Concluídas/Em atraso, ou Enviadas/Rascunhos)
      description: 'Requisitos relacionados: RF257-261, RF274'
      tags:
      - Tarefas
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: aba
        in: query
        required: false
        schema:
          type: string
          enum:
          - enviadas
          - rascunhos
      responses:
        '200':
          description: Lista de tarefas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tarefa'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Criar tarefa (formulário, arquivo ou auto-tarefa)
      description: 'Requisitos relacionados: RF262, RF275-277, RF289'
      tags:
      - Tarefas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TarefaCriarRequest'
      responses:
        '201':
          description: Tarefa criada como rascunho
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Tarefa'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tarefas/{id}:
    get:
      summary: Detalhar tarefa
      description: 'Requisitos relacionados: RF264-265, RF285'
      tags:
      - Tarefas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Detalhes da tarefa
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Tarefa'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Excluir tarefa (bloqueado se já houver respostas)
      description: 'Requisitos relacionados: RF291-292'
      tags:
      - Tarefas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Tarefa removida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '409':
          description: Tarefa já respondida por algum paciente (RF291)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar tarefa existente
      description: 'Requisitos relacionados: RF284, RF290'
      tags:
      - Tarefas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TarefaCriarRequest'
      responses:
        '200':
          description: Tarefa atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Tarefa'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tarefas/{id}/enviar:
    post:
      summary: Enviar tarefa aos pacientes selecionados
      description: 'Requisitos relacionados: RF287-288'
      tags:
      - Tarefas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Tarefa enviada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    $ref: '#/components/schemas/Tarefa'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tarefas/{id}/perguntas:
    get:
      summary: Listar perguntas da tarefa
      description: 'Requisitos relacionados: RF265-266'
      tags:
      - Perguntas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Lista de perguntas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pergunta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Adicionar pergunta à tarefa
      description: 'Requisitos relacionados: RF280-283'
      tags:
      - Perguntas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerguntaCriarRequest'
      responses:
        '201':
          description: Pergunta criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Pergunta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /perguntas/{id}:
    delete:
      summary: Excluir pergunta
      description: 'Requisitos relacionados: RF284'
      tags:
      - Perguntas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Pergunta removida
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro apagado com sucesso!
                  response:
                    type: object
                    nullable: true
                    example: {}
                required:
                - status
                - status_code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Editar pergunta (texto, tipo, ordem, obrigatoriedade)
      description: 'Requisitos relacionados: RF284'
      tags:
      - Perguntas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerguntaCriarRequest'
      responses:
        '200':
          description: Pergunta atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: Registro atualizado com sucesso!
                  response:
                    $ref: '#/components/schemas/Pergunta'
                required:
                - status
                - status_code
                - response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /perguntas/{id}/duplicar:
    post:
      summary: Duplicar pergunta
      description: 'Requisitos relacionados: RF284'
      tags:
      - Perguntas
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso
        schema:
          type: integer
          format: int64
      responses:
        '201':
          description: Pergunta duplicada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  status_code:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Registro inserido com sucesso!
                  response:
                    $ref: '#/components/schemas/Pergunta'
[...]
